<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhanghonghao.dao.OneMapper">
	
	<select id="selectOne" resultType="One">
		select * from one o left join two t on o.oid=t.tid 
	</select>
	
</mapper>